*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.apk
*.aab
/app/build/
/app/release/
app/debug/
app/release/
*.keystore
*.jks
!debug.keystore
output.json
